<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Test credentials</h4>
    <p>
        Username: <strong>sylius@example.com</strong><br>
        Password: <strong>sylius</strong>
    </p>
</div>
