{% set admin_url = 'https://v2.demo.sylius.com/admin' %}
{% set api_url = 'https://v2.demo.sylius.com/api/v2' %}

<div class="info-toggle" id="info-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
        <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
    </svg>
</div>

<div class="info-box" id="info-box">
    <div class="info-box__item">
        <div class="info-box__item__label">
            <label for="version-select">Sylius version:</label>
        </div>
        <div class="info-box__item__content">
            <select id="version-select" class="select-color-green">
                <option value="//demo.sylius.com">
                    Sylius Demo (with Plus modules)
                </option>
                <option value="//b2b-suite.demo.sylius.com">
                    Sylius Plus B2B Suite
                </option>
                <option value="//marketplace-suite.demo.sylius.com">
                    Sylius Plus Marketplace Suite
                </option>
                <option value="//v1.demo.sylius.com">
                    Sylius Community Edition (version 1.14)
                </option>
                <option value="//v2.demo.sylius.com" selected>
                    Sylius Community Edition (version 2.0)
                </option>
            </select>
        </div>
    </div>

    <div class="info-box__item">
        <div class="info-box__item__label">
            <strong>Admin panel:</strong><br>
        </div>
        <div class="info-box__item__content">
            <a href="{{ admin_url }}">{{ admin_url }}</a>
        </div>
    </div>

    <div class="info-box__item">
        <div class="info-box__item__label">
            <strong>Sylius API:</strong><br>
        </div>
        <div class="info-box__item__content">
            <a href="{{ api_url }}">{{ api_url }}</a>
        </div>
    </div>

    <div class="info-cta" id="demo-cta">
        <a href="https://sylius.com/try/?utm_source=demo" target="_blank">Get a live demo of Sylius Plus</a>
    </div>
</div>

<script type="text/javascript">
    class DemoInfoBox {
        constructor() {
            this.isOpen = false;
            this.versionSelect = document.getElementById('version-select');
            this.infoBox = document.getElementById('info-box');
            this.infoToggle = document.getElementById('info-toggle');

            if (window.sessionStorage.getItem('sylius:infoBox') !== 'close') {
                this.toggleVisibility();
            }

            this.infoToggle.addEventListener('click', this.toggleVisibility.bind(this));
            this.versionSelect.addEventListener('change', e => window.location.href = e.target.value);
        }

        toggleVisibility() {
            this.infoBox.classList.toggle('show');
            this.infoToggle.classList.toggle('show');
            this.isOpen = !this.isOpen;
            this.saveVisibility();
        }

        saveVisibility() {
            const state = this.isOpen ? 'open' : 'close';
            window.sessionStorage.setItem('sylius:infoBox', state);
        }
    }

    const demoInfoBox = new DemoInfoBox();
</script>
