<div class="container mb-6">
    <h2 class="mb-5">{{ hookable_metadata.configuration.title|default('sylius.ui.latest_products')|trans }}</h2>

    <div {{ sylius_test_html_attribute(hookable_metadata.configuration.test_attribute|default('latest-products')) }}>
        <div class="products-grid">
            {% for key,product in latest_products %}
                <div>{{ component('sylius_shop:product:card', { key: loop.index, product: product, template: '@SyliusShop/homepage/card_deals.html.twig' }) }}</div>
            {% endfor %}
        </div>
    </div>
</div>
